<h4>All Movies</h4>

<div class="search-bar">
  <p>
  <%= form_tag movies_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
</div>
<% end %>

<table class="table table-striped">
  <tr>
    <th>Sort By:<%= sortable "Title" %></th>
    <th>Sort By:<%= sortable "Genre" %></th>
    <th>Sort By:<%= sortable "Rating" %></th>
    <th>Availabilty</th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td> <%= movie.title %> </td>
    <td> <%= movie.genre %> </td>
    <td> <%= movie.rating %> </td>
    <td> <%= movie.status %> </td>
  <% end %>
  </tr>

</table>


