<h2>Movies You Would Like To Rent</h2>

<%= form_for @rental do |f| %>
  <%= f.label :movie_name %>:
  <%= f.text_field :movie_name %><br />

  <%= f.label :checkout_date %>:
  <%= f.text_field :checkout_date %><br />

  <%= f.submit %>
<% end %>
 

 
