<h2>Movies You Would Like To Rent</h2>

<%= form_for @return do |f| %>
<p>
  <%= f.label :movie_id, "Movie" %>
  <%= f.collection_select :movie_id, Movie.all, :id, :title, :prompt=>true %>
</p>

<p>
  <%= f.label :return_date %>:
  <%= select_date Date.today %><br>
</p>

  <%= f.submit "Return Movie" %>
<% end %>